<h2>Update Customer Record</h2>
<form name="showCustomer" novalidate class="form-horizontal">
    <form-field record="customer" field="firstName" live="true" required="true"></form-field>
    <form-field record="customer" field="middleName" live="true" required="true"></form-field>
    <form-field record="customer" field="lastName" live="true" required="true"></form-field>
    <form-field record="customer" field="email" live="true" required="true"></form-field>
    <form-field record="customer" field="accountNo" live="true" required="true"></form-field>
    <form-field record="customer" field="role" live="true" required="true"></form-field>
    <form-field record="customer" field="dateOfBirth" live="true" required="true"></form-field>


    <form-field ng-repeat="(k, v) in customer | keyFilter: 'firstName' | keyFilter: 'middleName' | keyFilter:'lastName' | keyFilter: 'role' | keyFilter: 'email' |
     keyFilter: 'id' | keyFilter: 'guid' | keyFilter: 'roleId' | keyFilter: 'accountNo' | keyFilter: 'properties' | keyFilter: 'dateOfBirth' " record="customer" required="false" field="{{k}}"></form-field>


    <new-field record="customer" live="true"></new-field>

    <div class="row form-group">
        <div class="col-sm-offset-2">
            <button class="btn btn-primary" ng-click="save()">Update</button>
        </div>
    </div>

</form>